/** @format */

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

@media (max-width: 799px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: flex;
  border-radius: 5px;
}

a {
  text-decoration: none;
}

body {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  background-color: whitesmoke;
}

@media (min-width: 800px) {
  nav {
    max-width: 100%;
    margin: auto;
    padding: 1rem 3rem;
    padding-right: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }
  .nav-logo {
    font-size: 2rem;
  }
  .nav-links {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 6rem;
  }

  .link a {
    position: relative;
    padding-bottom: 0.75rem;
  }

  .link a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    color: #b2a1b2;
    transition: all 0.3s ease;
  }

  .link a:hover::after {
    width: 70%;
  }

  .produktliste-headline {
    padding-left: 6rem;
    padding-top: 2rem;
    font-size: 4rem;
  }

  h2 {
    font-size: 4rem;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .descrip-text {
    padding-left: 6rem;
    width: 1000px;
    margin-top: 1rem;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: start;
    padding-left: 6rem;
    padding-right: 6rem;
  }

  .content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: auto;
    padding: 1rem;
  }

  hr {
    border: none;
    height: 2px;
    background-color: black;
    width: 1250px;
    align-items: center;
    margin: 0 auto;
    margin-top: 1rem;
  }

  img:hover {
    background-color: #323232;
    border-color: #fff;
  }

  .content h3 {
    padding-top: 0.5rem;
  }

  .product-info {
    color: #c0bfc0;
    padding-top: 0.5rem;
    padding-left: 0;
  }

  .price {
    padding-top: 0.5rem;
    color: #b2a1b2;
    font-weight: 300;
  }

  span {
    padding-left: 4rem;
    color: red;
  }
  .btn,
  .btn_2 {
    padding: 0.5rem 0.5rem;
    margin-top: 2.7rem;
    font-size: 0.8rem;
    color: #fff;
    background-color: black;
    border-radius: 15px;
    cursor: pointer;
  }
  .btn:hover,
  .btn_2:hover {
    background-color: #b2a1b2;
  }

  .btn_2 {
    margin-top: 1rem;
  }

  .sold-out img {
    opacity: 50%;
  }

  .sold-out::before {
    content: "Sold Out";
    position: absolute;
    background-color: black;
    color: white;
    padding: 1rem;
  }

  .product-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .mid-container {
    display: inline-block;
    margin-bottom: 1rem;
    color: black;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: all 0.3s ease;
  }

  .product-info-two {
    padding: 0.5rem;
    color: black;
    padding-top: 0;
  }

  .model-container {
    padding: 0.5rem;
  }

  .product-text {
    padding: 1rem;
  }

  .end-container {
    display: inline-block;
    background-color: #b2a1b2;
    padding: 2px 9px;
    margin-bottom: 1rem;
    color: black;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: all 0.3s ease;
  }

  label {
    display: flex;
  }

  select {
    padding: 0.5rem;
    border-radius: 15px;
    margin-left: 1rem;
  }

  .kategoriliste {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    height: 50vh;
    gap: 1em;
    padding: 2rem;
  }

  .kategori-link {
    display: flex; /* Gør det muligt at bruge flexbox til centreringsformål */
    justify-content: center; /* Centrerer teksten horisontalt */
    align-items: center; /* Centrerer teksten vertikalt */
    width: 100%;
    height: 100px;
    background-color: #b2a1b2;
    border-radius: 10px;
    font-weight: 700;
    font-size: 30px;
    color: black;
    padding: 5rem;
  }
}
